body {
  font-family: sans-serif;
  text-align: center;
}

label {
  display: block;

  padding: 0.5rem;
}

input {
  margin: auto;
  display: block;
  padding: 0.5rem;
  width: 40%;
  display: "block";
  text-align: center;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 20%;
}

#output-id {
  padding: 1rem;
}

img {
  display: block;
  padding: 2rem;
  margin: auto;
  width: 6rem;
  height: 6rem;
}
